@import "colors.css";

#card-container {
	padding: 30px;
	display: flex;
	direction: row;
	flex-wrap: wrap;
	gap: 40px;
	justify-content: center;
	height: 100%;
}

.text-card {
	box-sizing: border-box;
	width: 500px;
	height: 550px;
	opacity: 0.6;
	transition: opacity 400ms ease;
	border-radius: 10px;
	box-shadow: 0 0px 20px 0 black;
	background-color: var(--card-bg);
	color: var(--card-fg);
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
	overflow-y: auto;
}
.text-card:hover {
	opacity: 0.9;
	z-index: 4;
}

.image-card {
	width: 500px;
	height: 550px;
	background-position: center 50%;
	background-size: 100%;
	opacity: 0.6;
	font-size: 0;
	transition: background-size 400ms ease, opacity 400ms ease;
	border-radius: 10px;
	box-shadow: 0 0px 20px 0 black;
}
.image-card:hover {
	background-size: 105%;
	opacity: 0.9;
}
