body {
	--sidebar-bg: #0f0f0f;
	--page-bg: #191919;
	--dull: #4c4c4c;
	--foreground: #e7e7e7;
}

body.active {
	--sidebar-bg: #212529;
	--page-bg: #343a40;
	--dull: #6c757d;
	--foreground: #dee2e6;
}
