/* flex boxes put in some of the pages */
#project-container {
	display: flex;
	direction: row;
	justify-content: left;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 20px;
}

.project-container-item {
	color: var(--dull);
	background-color: var(--sidebar-bg);
	text-decoration: none;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: 600px;
	height: 500px;
	box-shadow: 0 0px 20px 0 #000000;
	font-size: 18px;
}

.project-container-item h2 {
	font-size: 22px;
}

.project-container-item:hover {
	transform: scale(1.02);
	box-shadow: 0 0px 30px 0 #000000;
	transition: 0.3s;
}
