body {
	background-color: #161616;
	color: #dde1e6;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}
