:root {
  --background: #202020;
  --text: #fbeff5;
  --text-muted: #d4c1ca;

  --accent-main: #ff7fa3;
  --accent-light: #ffb6da;
  --accent-dark: #6e3b9d;
  --accent-mute: #805581
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

header {
  text-align: center;
  margin-bottom: 60px;
}

.logo a {
  text-decoration: none;
  font-family: 'Limelight', system-ui;
  font-size: 3rem;
  color: var(--accent-main);
  margin-bottom: 10px;
  text-shadow:
    3px 4px 0 var(--accent-dark),
    -1px -1px 0 #00000055;
  animation: flicker 6s infinite;
}

.logo a:hover {
  filter: hue-rotate(90deg);
  -webkit-filter: hue-rotate(90deg);
  transition: filter 0.5s ease;
}

@keyframes flicker {
  /* normal state */
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    text-shadow:
      3px 4px 0 rgb(from var(--accent-dark) r g b / 60%),
      -1px -1px 0 #00000055;
  }
  /* light dim */
  20%, 24%, 55% {
    opacity: 0.8;
    text-shadow:
      3px 4px 0 rgb(from var(--accent-dark) r g b / 50%),
      -1px -1px 0 #00000044;
  }
  /* flickered off */
  23%, 56% {
    opacity: 0.6;
    text-shadow:
      3px 4px 0 rgb(from var(--accent-dark) r g b / 20%),
      -1px -1px 0 #00000022;
  }
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  box-shadow: inset 0 0 0 0 var(--accent-main);
  transition: box-shadow 0.4s ease-in-out;
  padding: 3px;
}

nav a:hover {
  box-shadow: inset 200px 0 0 0 var(--accent-main);
}

footer {
  margin-top: 60px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-muted);
  border-top: 1px solid var(--accent-mute);
  padding-top: 20px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}

.content-box {
  background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(255,255,255,0.15));
  padding: 30px 40px 30px 40px;
  margin: 0 30px 30px 30px;
  border: 2px solid var(--accent-mute);
  border-radius: 0px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 2;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  animation: blur_transition 3s linear infinite;
}

.content-box h3 {
  font-size: 1.8rem;
  font-family: 'Limelight', sans-serif;
  color: var(--accent-main);
  margin: 0;
}

.content-box p {
  font-size: 1.1rem;
  color: var(--text);
  line-height: 1.5;
  margin: 10px 0 0 0;
}

@keyframes blur_transition {
  0%, 100% {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  50% {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
}

@media (max-width: 550px) {
  nav ul {
    flex-direction: column;
    gap: 15px;
  }
  .content-box {
      padding: 20px 35px 20px 35px;
  }
}
