@import "colors.css";

.media {
  outline: none;
  border: 2px solid var(--accent-mute);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.media .pdf {
	width: 100%;
	height: 700px
}

@media (max-width: 550px) {
	.media .pdf {
		height: 100%;
	}
}
