@import "colors.css";

body {
	padding: 0;
	background-color: var(--page-bg);
	font-family: monospace
}

/* main section */
#main {
	margin-left: 300px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	font-size: 15px;
	color: var(--foreground);
}

/* flex boxes to store stuff like projects and other info */
#container {
	display: flex;
	direction: row;
	justify-content: left;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 20px;
}

#container a {
	color: var(--foreground);
	background-color: var(--sidebar-bg);
	text-decoration: none;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	width: 600px;
	height: 500px;
	box-shadow: 0 0px 20px 0 #000000;
}

#container a:hover {
	transform: scale(1.02);
	box-shadow: 0 0px 30px 0 #000000;
	transition: 0.3s;
}
