@import "colors.css";

#sidebar {
	background-color: var(--sidebar-bg);
	color: var(--foreground);
	height: calc(100% - 40px);
	width: 300px;
	position: fixed;
	text-align: center;	
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
	box-shadow: 0 0px 20px #000000;
	margin: 20px;
	border-radius: 10px;
}

/* profile picture */
#sidebar #pfp-link {
	height: 120px;
	border-radius: 50%;
	border: 5px solid var(--dull);
	margin: 40px;
	transition: 0.2s;
}
#sidebar #pfp-link:hover {
	filter: blur(2px);
	transform: scale(1.05);
	box-shadow: 0 0px 20px 0 #000000;
	transition: 0.2s;
}

/* navigation to different web pages */
#sidebar .nav-links {
	padding-bottom: 10px;
	text-decoration: none;
	color: var(--dull);
	display: block;
	font-size: 25px;
}
#sidebar .nav-links:hover {
	color: var(--foreground);
}

/* sections in sidebar */
#sidebar h2 {
	color: var(--dull);
	border-top: 1px solid var(--dull);
	margin-top: 40px;
	padding-top: 25px;
	padding-bottom: 10px;
}
