body {
	padding: 0;
	background-color: #191919;
	font-family: monospace
}

/* sidebar */
#sidebar {
	background-color: #0f0f0f;
	color: #e7e7e7;

	height: 100%;
	width: 300px;

	position: fixed;
	text-align: center;	
	z-index: 1;
	top: 0;
	left: 0;
	overflow: hidden;
}

#sidebar #pfp-link {
	height: 120px;
	border-radius: 50%;
	border: 5px solid #4c4c4c;
	margin: 40px;
}

#sidebar .nav-links {
	padding-bottom: 10px;
	text-decoration: none;
	color: #4c4c4c;
	display: block;
	font-size: 25px;
}

#sidebar .nav-links:hover {
	color: #e7e7e7;
}
#sidebar #pfp-link:hover {
	filter: invert();
}

/* main section */
#main {
	margin-left: 300px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	color: #e7e7e7;
}
