body {
	color: #dde1e6;
	font-family: 'Source Code Pro';
	margin: 0;
	width: 100vw;
	height: 100vh;
    overflow: hidden;
	background-image: url("../img/wallpaper.jpg");
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

#goodbye {
	font-size: 80px;
	max-width: 500px;
	font-weight: 900;
	text-align: center;
}

/* colors and word styles */
.pink {
	color: #ff7eb6;
}
.cyan {
	color: #3ddbd9;
}
.blue {
	color: #78a9ff;
}
.bold {
	font-weight: 900;
}
.glow {
	color: #78a9ff;
    text-shadow: 0 0 5px #78a9ff;
}
