:root {
	--border-radius: 5px;
	--titlebar-width: 35px;
	--titlebar-color: #262626;
}

/* wrapper window */
#window {
	width: 800px;
	height: 750px;
    position: absolute;
	box-shadow: 0px 0px 8px  black;
	border-radius: var(--border-radius);
}

/* window titlebar */
#titlebar {
	cursor: move;
	border-radius: var(--border-radius) var(--border-radius) 0px 0px;
	height: var(--titlebar-width);
	background-color: var(--titlebar-color);
}

/* termninal */
#terminal {
	height: calc(100% - var(--titlebar-width));
	background-color: #161616;
	padding: 15px;
	box-sizing: border-box;
	overflow-y: scroll;
	border-radius: 0px 0px var(--border-radius) var(--border-radius);
	/* scrolling */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */
	border: 4px solid var(--titlebar-color);
	border-width: 0px 4px 4px 4px;
}
#terminal::-webkit-scrollbar { 
	display: none;  /* Safari and Chrome */
}

/* every line in the terminal */
.line {
	padding-bottom: 5px;
	font-size: 18px;
	display: block;
}

/* where user types stuff */
#command-prompt {
	border: none;
	background: none;
	color: #dde1e6;
    outline: none;
	font-family: 'Source Code Pro';
	font-size: 18px;
	padding: 0;
	display: inline-block;
	flex: 2;
	max-width: 600px;
}
#command-prompt-wrapper {
	display: flex;
}
